<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8" />
        <title>PHV Controle de Produtos</title>
        <link rel="stylesheet" href="./css/estilo.css" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    </head>
    
    <body>
        <div id="tela">
            <header>
                <img src="./imagens/LogoSite.PNG" />

            </header>


        <nav>
            <ul id="menuprincipal">
                <li id="home"><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li id="consultar"><a href="/consultar"><i class="fas fa-search"></i> Consultar</a></li>
                <li id="cadastro"><a href="/cadastro"><i class="far fa-clipboard"></i> Cadastrar</a></li>
                <li id="atualizar"><a href="/atualizar"><i class="fas fa-redo-alt"></i> Atualizar</a></li>
                <li id="deletar"><a href="/deletar"><i class="fas fa-trash-alt"></i> Deletar</a></li>
            </ul>
        </nav>

        <article id="telaAtualizar">
            <header id="infopagina">
                <h3>Atualizar Produto</h3>
            </header>
            <form id="formatualizar" method="POST" action="/atualizar">
                <label for="id_produto">Id do Produto</label>
                <input id="id_produto" name="id_produto" required="required" type="text" /></br></br>
                <label for="nomeproduto">Nome do Produto</label>
                <input id="nomeproduto" name="nomeproduto" required="required" type="text" /></br></br>
                <label for="preco">Preço</label>
                <input id="preco" name="preco" required="required" type="text" /></br></br>
                <label for="qtd_estoque">Qtd. no Estoque</label>
                <input id="qtd_estoque" name="qtd_estoque" required="required" type="number" /></br></br>
                <input type="submit" id="submit" value="Atualizar Produto">
            </form>
        </article>
        <footer id="rodape">
            <p>PHV Controle de Produtos&reg; - by Vinicius Pereira e Paulo Henrique<br>
                SAC: 61 996936435<br>
                Email: viniciuspg0071@gmail.com
            </p>
        </footer>
    </div>
</body>
</html>