<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>PHV Controle de Produtos</title>
    <link rel="stylesheet" href="../css/estilo.css" />
</head>

<body>
    <div id="tela">
        <header>
            <img src="../imagens/LogoSite.PNG" />
        </header>
        <section>
            <h3 id="formtlogin">Login</h3>
            <form method="POST" id="camposLogin" action="/cad_usuario">
                <label for="user">Nome de Usuário</label>
                <input type="text" id="user" name="user" size="20" required="required"></br>
                <label for="password">Senha&nbsp&nbsp&nbsp</label>
                <input type="password" name="password" id="password" size="8" required="required"></br></br>
                <input type="submit" id="submit" value="Cadastrar Usuário">
            </form>
        </section>
        <footer id="rodape">
            <p>PHV Controle de Produtos&reg; - by Vinicius Pereira e Paulo Henrique<br>
                SAC: 61 996936435<br>
                Email: viniciuspg0071@gmail.com
            </p>
        </footer>
    </div>
</body>

</html>